<%- include partials/_head %>
  <body>
    <a class="links" href="/">Home</a>
    <a class="links" id="all_lists">All lists</a>
    <a class="links" id="single_lists">Single list</a>
    <section class="add_list">
      <a class="links" id="create_list">Create list</a>
      <input class="hidden"></input>
      <a class="links hidden" id="add_list">Add new list</a>
    </section>
    <script src="./lists.js"></script>
  </body>
</html>