<%- include partials/_head %>
  <body>
    <a class="links" href="/">Home</a>
    <a class="links" id="all_lists">All lists</a>
    <a class="links" id="single_lists">Single list</a>
    <section class="add_list list">
      <a class="links" id="create_list">Create list</a>
      <input class="input hidden" placeholder="Title..."></input>
      <a class="links hidden button" id="add_list">Add new list</a>
    </section>
    <section class="update_list list">
      <a class="links" id="update_list">Update list</a>
      <input class="input hidden" id="id_update" placeholder="ID..."></input>
      <input class="input hidden" id="title_update" placeholder="Title..."></input>
      <input class="input hidden" id="revision_update" placeholder="Revision..."></input>
      <a class="links button hidden" id="update">Update</a>
    </section>
    <section class="delete_list list">
      <a class="links" id="delete_list">Delete list</a>
      <input class="input hidden" id="id_delete" placeholder="ID..."></input>
      <input class="input hidden" id="revision_delete" placeholder="Revision..."></input>
      <a class="links button hidden" id="delete">Update</a>
    </section>
    <script src="./lists.js"></script>
  </body>
</html>